* {
    border: none;
    font-family: JetBrains Mono, Noto Sans CJK SC;
    font-size: 16px;
    color: #d9d9d9;
}

window#waybar {
    background: #1a1a1a;
    border-bottom: 2px solid #4d4d4d;
}

#workspaces button {
    padding: 5px 12px;
    color: #808080;
    min-height: 36px;
}

#workspaces button.active {
    color: #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}

#clock {
    font-size: 18px;               
}

#cpu, #memory, #network, #battery, #tray {
    padding: 5px 18px;
    background: #1a1a1a;
    border-bottom: 2px solid #4d4d4d;
}

#pulseaudio {
    padding: 5px 18px;
    background: #1a1a1a;
    border-bottom: 2px solid #4d4d4d;
}

#pulseaudio.muted {
    color: #808080;
}

#mpris {
    padding: 5px 18px;
    background: #1a1a1a;
    border-bottom: 2px solid #4d4d4d;
}
