/* ==========================================================================
   Waybar Configuration
   ========================================================================== */

* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
}
 
window#waybar {
    background: rgba(0, 0, 0, 0.6); 
    color: #FFFFFF; 
    border: 4px solid #121234; 
    border-radius: 16px; 
    padding: 5px 15px; 
    margin: 10px; 
}
 
#workspaces button {
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF; 
    padding: 8px 10px; 
    margin: 10px; 
    border: 1px solid #FFFFFF; 
    border-radius: 4px; 
    min-height: 20px; 
}
 
#workspaces button.active {
    background: rgba(166, 25, 46, 0.7); 
    color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    min-height: 20px;
}

#clock {
    background: rgba(50, 50, 50, 0.7); 
    color: #FFFFFF;
    padding: 2px 12px; 
    margin: 10px; 
    border: 1px solid #FFFFFF;
    border-radius: 4px; 
    min-height: 20px; 
}
 
#battery, #cpu, #memory, #disk, #network, #pulseaudio {
    background: rgba(0, 40, 104, 0.7); 
    color: #FFFFFF;
    padding: 2px 12px; 
    margin: 10px; 
    border: 1px solid #FFFFFF;
    border-radius: 4px; 
    min-height: 20px; 
}
 
#tray {
    background: rgba(10, 112, 66, 0.7); 
    color: #FFFFFF;
    padding: 8px 10px; 
    margin: 10px;
    border: 1px solid #FFFFFF; 
    border-radius: 4px;
    min-height: 20px;
}
